.Home > .greetings {
   position: relative;
   width: 100%;
   top: 100px;
   
}

.Home > .greetings > img{
    width: 95%;
    height:400px;
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
