.Home{
    width: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.cardsBox{
    padding: 0px 100px;
    box-sizing: border-box;
    overflow: auto;
    height: calc(100vh - 87px); 
}

.cardsBox::-webkit-scrollbar {
    width: 0.1em;
}
  
.cardsBox::-webkit-scrollbar-track {
    background-color: transparent;
}
  
.cardsBox::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 0.5px;
}
  
.cardsBox::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.filterMenu{
    text-align: right;
    background-color: #cccccc52;
    color: black;
    height: 40px;
    font-size: large;
}

.paginationController{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* For screen above 800px */
@media (max-width: 1000px) {
    .cardsBox{
        padding: 0px;
    }
      }
    