.CardUI {
	width: 340px;
  margin: 20px;
  display: inline-block;
}

.CardUI > .CardElement{
    position: relative;
    font-family: 'Poltawski', sans-serif;        
    box-sizing: border-box;
    height: 450px;
    background-color: rgb(238, 222, 197);
    border: 3px ridge rgb(82, 45, 168);
    border-radius: 10%;
}

.cardImage{
  height: 170px;
}


/* Header - vacation destination */
.cardHeader{
    margin: 3px;
    font-size: larger;
}
/* ------------------------------------------------------- */

/* Dates box */
.dateBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: green;
}

.startDate{
    display:inline;
    border-radius: 20%;
}

.endDate{
    display:inline;
    border-radius: 20%;
}
/* ------------------------------------------------------- */


/* Vacation description box */
.descriptionBox {
    overflow: auto; /* To see scroll, parent must be with auto overflow */
    margin: 0px 7px 20px;  /* top, left-right, bottom */
}

.descriptionText{
    font-size: 18px;
    text-align: justify;
    height: 120px;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}

/* scroll config */
  .descriptionBox::-webkit-scrollbar {
    width: 5px;
  }
  
  .descriptionBox::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .descriptionBox::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  
  .descriptionBox::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

/* ------------------------------------------------------- */

/* Vacation price */
.vacationPrice{
    margin: 20px;
    font-weight: bold;
    color: crimson;

}
/* ------------------------------------------------------- */

/* User Control Bar */
.controlBar {
  position: absolute;
  top: -1px;
  right: -1px;
  font-weight: 900;
  font-size: 18px;
  color: rgb(248, 0, 0);
  background-color: rgba(255, 196, 0, 0.788);
  width: 27px;
  border-radius: -7px 81px;
  display: flex;
  justify-items: center;
  height: 171px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.likesBar{
  display: flex;
  flex-direction: column-reverse;

}
.controlBar > span{
  margin:5px;
  vertical-align: middle;

}

/* ------------------------------------------------------- */
