.Menu{
    background-color: rgb(196, 241, 255);
    box-sizing: border-box; 
    color:black;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.Menu > div>img{
    width: 260px;
    margin: 0px 30px; 
}

.menuItems > span{
    font-size: larger;
    margin: 0px 10px; 
}

.menuItems span:hover {
    color: red; 
    cursor: pointer;
}


.menuItems .userWelcome:hover {
    color: black;
    cursor: default;

}

