.Menu{
    background-color: rgb(82, 94, 167);
    box-sizing: border-box; 
    color:rgba(15, 233, 51, 0.808);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.Menu > div>img{
    width: 260px;
    margin: 0px 30px; 
}

.menuItems > span{
    font-size: larger;
    margin: 0px 10px; 

}

.menuItems span:hover, .siteLogo:hover  {
    color: rgb(15, 233, 51);
    cursor: pointer;
}

.menuItems .userWelcome:hover {
    color: rgb(0, 0, 0);
    cursor: default;

}

/* For screen above 800px */
@media (max-width: 800px) {
.siteLogo{
    display: none;
}
  }

