.Menu{
    background-color: rgb(255, 213, 196);
    width: 100%;
    color:black;
}





/* navbar with mui

.navbarLogo{
    width: 170px;
}

.menuBox{
    margin: 0px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
*/
