.Layout {
    height: 100%;
    box-sizing: border-box; /* content takes entire box */
    display: grid;
    grid-template-rows: 5% 95%;
}

.Layout > main {
    grid-column: span 6;
    overflow: auto;
}

.Layout > header, .Layout > footer {
    grid-column: span 6;
}