html, body, #root {
    height: 100%;
    text-align: center;
    font-size: x-large;
    color: white;
    background-image: linear-gradient(rgba(187, 124, 124, 0.85),rgb(190, 111, 214));
    margin:0px;
}

a {
    color: blue;
}

