.Register {

	border: 1px solid black;
    border-radius: 50,50;
    width: 500px;
    margin: auto;
}

.Register > form{
    width: 100%;

}

.Register > form > input{
    width: 200px;
    margin: 10px;
}

.Register > form > label{
    text-align: left;

}